<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      background-color: #8af5f5;
    }

    .image-container {

      overflow: auto;
    }

    .image-wrapper {
      display: inline-block;
      margin-right: 50px;

    }

    .image-wrapper img {
      display: block;
    }

    .image-wrapper p {
      text-align: center;
      margin: 0;

    }
  </style>
</head>

<body>
  <h1>Poets!</h1>
  <p>You can click the picture for detailed information...</p>
  <div class="image-container">

    <div class="image-wrapper">
      <a href="/temmplates/nazımhikmet">
        <img src="https://admin.biyografya.com/_docs/photos/099bbb67cbd960de64b7833e5963d44c.jpg" alt="Nazım Hikmet">
        <p>Nazım Hikmet</p>
      </a>
    </div>
    <div class="image-wrapper">
      <a href="/özdemirasaf">
        <img src="https://idsb.tmgrup.com.tr/ly/uploads/images/2021/02/05/91150.jpg?v=1612530273" alt="Özdemir Asaf"
          width="300" height="300">
        <p>Özdemir Asaf</p>
    </div>
    </a>
    <div class="image-wrapper">
      <a href="/orhanveli">
        <img src="https://www.iskultur.com.tr/dosyalar/2021/01/orhan-veli-kanik-2-1.png" alt="Orhan Veli" width="300"
          height="300">
        <p>Orhan Veli</p>
      </a>
    </div>
  </div>
</body>

</html>
